/* RESETS */
:root {
  --main-color: #2196f3;
  --secondary-color: #212121;
  --third-color: #757575;
  --main-font: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

button {
  border: none;
}

.link {
  text-decoration: none;
}

.list-style {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-blue {
  color: var(--main-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-right: 93px;
}

.nav-menu {
  display: flex;
}

.nav-menu-item {
  position: relative;
  display: flex;
}

.nav-menu-item:not(:last-child) {
  margin-right: 50px;
}
.nav-menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--main-color);
}

.current,
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--main-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-list:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--main-color);
}

.contacts-icon {
  fill: var(--third-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover .contacts-icon,
.contacts:focus .contacts-icon {
  fill: var(--main-color);
}

/* FOOTER */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.main-footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

address {
  margin-top: 20px;
}

.city-address {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts-list {
  margin-top: 9px;
}

.footer-contacts {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-link {
  margin-right: 93px;
}

.footer-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
}
.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--main-color);
}

.footer-social-list-icon {
  fill: #fff;
}

.footer-form-label {
  margin-right: 12px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-form-input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.fotter-form-button {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
}

.plane-icon {
  margin-left: 10px;
}

/* MAIN CONTENT */

/* HERO SECTION */
.hero-section {
  background-color: #2f303a;
  max-width: 1600px;
  padding: 200px 0;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 40%), rgba(47, 48, 58, 40%)),
    url('../img/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto 30px;
}

.order-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #188ce8;
}
/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #fff;
  border: 1px solid #000000;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-field {
  margin-bottom: 10px;
}
.contact-form-field-span {
  display: block;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-color);
}

.contact-form-input-wrapper {
  position: relative;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--main-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .modal-form-icon {
  fill: var(--main-color);
}

.contact-form-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment:focus {
  outline: none;
  border-color: var(--main-color);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.contact-form-checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  content: '';
  cursor: pointer;
  border: 2px solid var(--secondary-color);

  border-radius: 2px;
  margin-right: 8px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  background-image: url('../img/bird.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border: 2px solid var(--main-color);
  background-image: url('../img/bird.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contact-form-checkbox-link {
  color: var(--main-color);
}

.contact-form-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-button:hover,
.contact-form-button:focus {
  background-color: #188ce8;
}

/* QUALITY SECTION */
.quality-icon-block {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality-section {
  padding-top: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.quality-list {
  display: flex;
}

.quality-item:not(:last-child) {
  margin-right: 30px;
}
.quality-item {
  max-width: 270px;
}
.quality {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

.quality-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

/* ABOUT US SECTION   */
.about-us-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us-description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.about-us-list {
  display: flex;
  margin-top: 50px;
}
.about-us-item:not(:last-child) {
  margin-right: 30px;
}
.about-us-item {
  position: relative;
}

.about-us-item-outline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* OUR TEAM   */

.our-team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.our-team-list {
  display: flex;
  margin-top: 50px;
}
.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-item-block {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
  padding: 30px 10px;
}
.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.team-position {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--main-color);
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #fff;
}
/* CLIENTS */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-icon-box {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-box:hover,
.clients-icon-box:focus {
  border: 1px solid var(--main-color);
}

.clients-icon-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-box:hover .clients-icon,
.clients-icon-box:focus .clients-icon {
  fill: var(--main-color);
}

/* PORTFOLIO */

.portfolio-section {
  padding: 94px 0;
}
.portfolio-menu {
  display: flex;
  justify-content: center;
}

.portfolio-menu-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-case-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-case-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-case-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-case-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-case-list-link:hover,
.portfolio-case-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.case-examples {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.case-examples:hover,
.case-examples:focus {
  background: var(--main-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.case-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.case-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.case-category {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;

  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-case-list-link:hover .overlay,
.portfolio-case-list-link:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}
